GYM=※ここに体育館のご記入をお願いします※
NAME=※ここにお名前のご記入をお願いします※
PHONE_NUMBER=※ここに電話番号のご記入をお願いします※
E_MAIL=※ここにe-mailのご記入をお願いします※
COURT_NO=※ここに希望のコート番号のご記入をお願いします※
TIME=※ここに希望の時間帯のご記入をお願いします※
PROJECT_DIR=※ここにautoBookingのパスの記載をお願いします※